{% extends 'base.html' %}

{% block content %}
<h1>Login</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.username.label }}<br/>
        {{ form.username }}<br/>
        {% for error in form.username.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.password.label }}<br/>
        {{ form.password }}<br/>
        {% for error in form.password.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        {% if login_error %}
        <span style="color: red;">[{{ login_error }}]</span>
        {% endif %}
    </p>
    <p>
        {{ form.remember_me.label }}<br/>
        {{ form.remember_me }}<br/>
        {% for error in form.remember_me.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.submit }}
    </p>
</form>
{% endblock %}
