{% extends 'base.html' %}

{% block content %}
<section class="hero is-primary is-fullheight-with-navbar">
    <div class="hero-body">
        <div class="container">
            <div class="column is-4 is-offset-4">
                <h3 class="title">Login</h3>
                <div class="box">
                    {% with messages = get_flashed_messages() %}
                    {% for message in messages %}
                    <div class="notification is-danger">
                        {{ message }}
                    </div>
                    {% endfor %}
                    {% endwith %}
                    <form action="" method="post">
                        {{ quick_form(form,button_style="is-primary") }}
                    </form>
                    <br/>
                    {% if enableRegistration %}
                    Don't have an account? <u><a href="{{ url_for('auth.register') }}">Register here.</a></u>
                    <br/>
                    {% endif %}
                    {% if current_app.config['MAIL_ENABLED'] %}
                    Forgot your password? <u><a href="{{ url_for('auth.request_password_reset') }}">Click here.</a></u>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
