{% extends 'base.html' %}

{% block content %}
<section class="hero is-primary is-fullheight-with-navbar">
    <div class="hero-body">
        <div class="container">
            <div class="column is-4 is-offset-4">
                <h3 class="title">Register</h3>
                <div class="box">
                    {% with messages = get_flashed_messages() %}
                    {% for message in messages %}
                    <div class="notification is-danger">
                        {{ message }}
                    </div>
                    {% endfor %}
                    {% endwith %}
                    <form action="" method="post">
                        {{ form.hidden_tag() }}
                        {{ render_input(form.username, icon="fas fa-user") }}
                        {{ render_input(form.email, icon="fas fa-envelope") }}
                        {{ render_input(form.password, icon="fas fa-key") }}
                        {{ render_input(form.password2, icon="fas fa-key") }}
                        {{ render_button(form.submit, class="is-success") }}
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}