
{% extends 'base.html' %}

{% block content %}
<section class="hero is-primary is-fullheight-with-navbar">
    <div class="hero-body">
        <div class="container">
            <div class="column is-4 is-offset-4">
                <h3 class="title">Enter new password</h3>
                <div class="box">
                    {% with messages = get_flashed_messages() %}
                    {% for message in messages %}
                    <div class="notification is-danger">
                        {{ message }}
                    </div>
                    {% endfor %}
                    {% endwith %}
                    <form action="" method="post">
                        {{ quick_form(form, button_style="is-primary") }}
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
