# Configuration variables for todo application.

# Server address
SERVER_NAME=todo.example.com


# The secret key used by the application.
# Used for cookies and resetting passwords.
# Make this key hard to guess and keep this key secret!
# If a secret key is not provided the application generates 
# one and stores it into a file.
SECRET_KEY=


# Database settings
#
# By default data will be stored in the SQLite database app.db 
# in the working directory (or the /config/ directory when
# running through Docker). To use another SQLite database 
# location, uncomment and edit the following line:
#SQLITE_DATABASE_PATH=app.db
#
# Alternatively it is possible to use a MySQL database.
# In that case uncomment and edit the following lines:
#MYSQL_HOST=localhost:3306
#MYSQL_USER=todo
#MYSQL_PASSWORD=password
#MYSQL_DATABASE=todo


# Mailserver settings
MAIL_SERVER=smtp.example.com
MAIL_PORT=587
MAIL_USE_TLS=y
MAIL_USERNAME=todo@example.com
MAIL_PASSWORD=password
MAIL_FROM=todo@example.com


# (Docker installation only)
# The following variables control the user and group ID
# of the user running the application inside the container.
# If running Docker in rootless mode set these to 0 to run
# as the current user.
#PUID=1000
#PGID=1000
