{% extends 'base.html' %}

{% block content %}
{% with messages = get_flashed_messages() %}
{% for message in messages %}
<div class="notification is-danger">
    {{ message }}
</div>
{% endfor %}
{% endwith %}
<section class="section">
<h1 class="title">User administration</h1>
<table class="table is-hoverable is-fullwidth">
    <thead>
        <tr>
            <th>Username</th>
            <th>Email address</th>
            <th style="width:.1%;"></th>
        </tr>
    </thead>
    {% for user,delform,maform in rows %}
    <tr{% if user.admin %} class="has-background-danger-light"{% endif %}>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
        <td style="white-space: nowrap;">
            <div class="field is-grouped">
                <form method="POST" action="{{ url_for('admin.make_admin') }}">
                    {{ maform.hidden_tag() }}
                    {% if not user.admin %}
                    <button type="submit" title="Make admin" class="button confirm-make-admin" data-username="{{ user.username }}">
                        <span class="icon is-small">
                            <i class="fas fa-user-cog"></i>
                        </span>
                    </button>
                    {% else %}
                    <button type="submit" title="Remove admin status" class="button confirm-remove-admin" data-username="{{ user.username }}">
                        <span class="icon is-small">
                            <i class="fas fa-user-minus"></i>
                        </span>
                    </button>
                    {% endif %}
                </form>
                <form method="POST" action="{{ url_for('admin.delete_user') }}">
                    {{ delform.hidden_tag() }}
                    <button type="submit" title="Delete user" class="button confirm-delete" data-username="{{ user.username }}">
                        <span class="icon is-small">
                            <i class="fas fa-trash"></i>
                        </span>
                    </button>
                </form>
            </div>
        </td>
    </tr>
    {% endfor %}
</table>
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/date-fns/1.30.1/date_fns.min.js" integrity="sha512-F+u8eWHrfY8Xw9BLzZ8rG/0wIvs0y+JyRJrXjp3VjtFPylAEEGwKbua5Ip/oiVhaTDaDs4eU2Xtsxjs/9ag2bQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    $('.confirm-delete').on('click', function(){
            return confirm('Are you sure you wish to delete user "' + $(this).data('username') + '" and all their tasks?');
    });
    $('.confirm-make-admin').on('click', function(){
            return confirm('Are you sure you wish to grant admin rights to user "' + $(this).data('username') + '"?');
    });
    $('.confirm-remove-admin').on('click', function(){
            return confirm('Are you sure you wish to revoke admin rights from user "' + $(this).data('username') + '"?');
    });
</script>
{% endblock %}