{% extends 'base.html' %}

{% block content %}
{% with messages = get_flashed_messages() %}
{% for message in messages %}
<div class="notification is-danger">
    {{ message }}
</div>
{% endfor %}
{% endwith %}
<section class="section">
<h1 class="title">User administration</h1>
<table class="table is-hoverable is-fullwidth">
    <thead>
        <tr>
            <th>Username</th>
            <th>Email address</th>
            <th style="width:.1%;"></th>
        </tr>
    </thead>
    {% for user in users %}
    <tr>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
        <td style="white-space: nowrap;">
            <a class="icon has-text-danger confirm" data-username="{{ user.username }}" title="Delete user" href="{{ url_for('admin.delete_user', user_id=user.id.hex()) }}"><i class="fas fa-times"></i></a>
        </td>
    </tr>
    {% endfor %}
</table>
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/date-fns/1.30.1/date_fns.min.js" integrity="sha512-F+u8eWHrfY8Xw9BLzZ8rG/0wIvs0y+JyRJrXjp3VjtFPylAEEGwKbua5Ip/oiVhaTDaDs4eU2Xtsxjs/9ag2bQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    $('.confirm').on('click', function(){
            //return confirm("Are you sure?")
            return confirm('Are you sure you wish to delete user "' + $(this).data('username') + '" and all their tasks?');
    });
</script>
{% endblock %}