    <tr>
        <td>
            <form method="POST" action="{{ url_for('main.mark_task') }}">
                {{ markform.hidden_tag() }}
                {% if not task.done %}
                <button type="submit" title="Mark as done" class="button">
                    <span class="icon is-small has-text-success">
                        <i class="far fa-square"></i>
                    </span>
                </button>
                {% else %}
                <button type="submit" title="Mark as to-do" class="button">
                    <span class="icon is-small has-text-success">
                        <i class="fas fa-check-square"></i>
                    </span>
                </button>
                {% endif %}
            </form>
        </td>
        <td>{{ task.name }}</td>
        <td>
            {% if task.deadline %}
            <span class="deadline utc{% if not task.done and task.overdue() %} has-text-danger{% endif %}" data-utc="{{ task.deadline.strftime('%Y-%m-%dT%H:%M:%SZ') }}">{{ task.deadline.strftime('%Y-%m-%dT%H:%M:%SZ') }}</span>
            {% endif %}
        </td>
        <td style="white-space: nowrap;">
            <div class="field is-grouped">
                <form method="POST" action="{{ url_for('main.favorite') }}">
                    {{ favform.hidden_tag() }}
                    {% if not task.favorite %}
                    <button type="submit" title="Remove from favorites" class="button">
                        <span class="icon is-small has-text-warning">
                            <i class="far fa-star"></i>
                        </span>
                    </button>
                    {% else %}
                    <button type="submit" title="Add to favorites" class="button">
                        <span class="icon is-small has-text-warning">
                            <i class="fas fa-star"></i>
                        </span>
                    </button>
                    {% endif %}
                </form>
                <form method="POST" action="{{ url_for('main.edit_task', task_id = task.id.hex()) }}">
                    <button type="submit" title="Edit task" class="button">
                        <span class="icon is-small has-text-info">
                            <i class="fas fa-edit"></i>
                        </span>
                    </button>
                </form>
                <form method="POST" action="{{ url_for('main.delete_task') }}">
                    {{ delform.hidden_tag() }}
                    <button type="submit" title="Delete task" class="button">
                        <span class="icon is-small has-text-danger">
                            <i class="fas fa-times"></i>
                        </span>
                    </button>
                </form>
            </div>
        </td>
    </tr>