    <tr>
        <td>
            <form method="POST" action="{{ url_for('main.mark_task') }}">
                {{ markform.hidden_tag() }}
                {% if not task.done %}
                <a href="javascript:;" onclick="parentNode.submit();" class="icon has-text-success" title="Mark as done">
                    <i class="far fa-square"></i>
                </a>
                {% else %}
                <a href="javascript:;" onclick="parentNode.submit();" class="icon has-text-success" title="Move to current tasks">
                    <i class="far fa-check-square"></i>
                </a>
                {% endif %}
            </form>
        </td>
        <td>{{ task.name }}</td>
        <td>
            {% if task.deadline %}
            <span class="deadline utc{% if not task.done and task.overdue() %} has-text-danger{% endif %}" data-utc="{{ task.deadline.strftime('%Y-%m-%dT%H:%M:%SZ') }}">{{ task.deadline.strftime('%Y-%m-%dT%H:%M:%SZ') }}</span>
            {% endif %}
        </td>
        <td style="white-space: nowrap;">
            <div class="field is-grouped">
                <form method="POST" action="{{ url_for('main.favorite') }}">
                    {{ favform.hidden_tag() }}
                    {% if not task.favorite %}
                    <a href="javascript:;" onclick="parentNode.submit();" class="icon has-text-warning" title="Add to favorites">
                        <i class="far fa-star"></i>
                    </a>
                    {% else %}
                    <a href="javascript:;" onclick="parentNode.submit();" class="icon has-text-warning" title="Remove from favorites">
                        <i class="fas fa-star"></i>
                    </a>
                    {% endif %}
                </form>
                <a href="{{ url_for('main.edit_task', task_id=task.id.hex()) }}" class="icon has-text-info" title="Edit task">
                    <i class="fas fa-edit"></i>
                </a>
                <form method="POST" action="{{ url_for('main.delete_task') }}">
                    {{ delform.hidden_tag() }}
                    <a href="javascript:;" onclick="parentNode.submit();" class="icon has-text-danger" title="Delete task">
                        <i class="far fa-times"></i>
                    </a>
                </form>
            </div>
        </td>
    </tr>