{% extends 'base.html' %}

{% block content %}
<section class="section">
<h1 class="title">Current tasks</h1>
<form action="{{ url_for('main.add_task') }}" method="post">
    <div class="field has-addons">
        <p class="control has-icons-left is-expanded">
            <input class="input" type="text" name="task" placeholder="Add a new task...">
            <span class="icon is-small is-left">
                <i class="fas fa-tasks"></i>
            </span>
        </p>
        <div class="control">
            <button class="button is-success">
                <span class="icon">
                    <i class="fas fa-plus"></i>
                </span>
                <span>Add</span>
            </button>
        </div>
    </div>
</form>
<table class="table is-hoverable is-fullwidth">
    <thead>
        <tr>
            <th style="width:.1%;"></th>
            <th>Task</th>
            <th>Due date</th>
            <th style="width:.1%;"></th>
        </tr>
    </thead>
    {% for task,markform,favform,delform in rows %}
    {% if not task.done %}
    {% include '_task_line.html' %}
    {% endif %}
    {% endfor %}
</table>
</section>

<section class="section">
<h1 class="title">Finished tasks</h1>
<table class="table is-hoverable is-fullwidth">
    <thead>
        <tr>
            <th style="width:.1%;"></th>
            <th>Task</th>
            <th>Due date</th>
            <th style="width:.1%;"></th>
        </tr>
    </thead>
    {% for task,markform,favform,delform in rows %}
    {% if task.done %}
    {% include '_task_line.html' %}
    {% endif %}
    {% endfor %}
</table>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/date-fns/1.30.1/date_fns.min.js" integrity="sha512-F+u8eWHrfY8Xw9BLzZ8rG/0wIvs0y+JyRJrXjp3VjtFPylAEEGwKbua5Ip/oiVhaTDaDs4eU2Xtsxjs/9ag2bQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    $(function(){
        setInterval(
            function(){
                    $('.deadline').each(function(){
                        now = new Date();
                        deadline = new Date($(this).data("utc"));
                        if (now >= deadline) {
                            $(this).addClass("has-text-danger");
                        }
                    });
            },
            10000
        );
        $('.utc').each(function(){
            var d = new Date($(this).data("utc"));
            $(this).html(d.toLocaleString({
                year: 'numeric',
                month: 'long',
                day: 'numeric'
            }));
        });
    });
    $('.confirm-delete').on('click', function(){
        if (confirm('Are you sure you want to delete this task?')==true) {
            $(this).parent().submit();
        }
    })
</script>
{% endblock %}