{% extends 'base.html' %}

{% block content %}
<section class="section">
<h1 class="title">Current tasks</h1>
<form action="{{ url_for('main.add_task') }}" method="post">
    {{ atform.hidden_tag() }}
    <div class="field has-addons">
        {{ render_field(atform.taskname,icon="fas fa-tasks", controlstyle="is-expanded") }}
        {{ render_field(atform.submit, style="is-primary", icon="fas fa-plus") }}
    </div>
</form>
<table class="table is-hoverable is-fullwidth">
    <thead>
        <tr>
            <th style="width:.1%;"></th>
            <th>Task</th>
            <th>Due date</th>
            <th style="width:.1%;"></th>
        </tr>
    </thead>
    {% for task,markform,favform,delform in rows %}
    {% if not task.done %}
    {% include '_task_line.html' %}
    {% endif %}
    {% endfor %}
</table>
</section>

<section class="section">
<h1 class="title">Finished tasks</h1>
<table class="table is-hoverable is-fullwidth">
    <thead>
        <tr>
            <th style="width:.1%;"></th>
            <th>Task</th>
            <th>Due date</th>
            <th style="width:.1%;"></th>
        </tr>
    </thead>
    {% for task,markform,favform,delform in rows %}
    {% if task.done %}
    {% include '_task_line.html' %}
    {% endif %}
    {% endfor %}
</table>
</section>
{% endblock %}