{% extends 'base.html' %}

{% block content %}
<section class="hero is-primary is-fullheight-with-navbar">
    <div class="hero-body">
        <div class="container">
            <div class="column is-6 is-offset-3">
                <h3 class="title">Edit task</h3>
                <div class="box">
                    {% with messages = get_flashed_messages() %}
                    {% for message in messages %}
                    <div class="notification is-danger">
                        {{ message }}
                    </div>
                    {% endfor %}
                    {% endwith %}
                    <form action="" method="post">
                        {{ form.hidden_tag() }}
                        {{ render_field(form.taskname, icon="fas fa-edit") }}
                        {{ form.due.hidden_tag() }}
                        <div class="label">
                            {{ form.due.label(class_="label") }}
                        </div>
                        <div class="field has-addons">
                            <div class="control is-expanded">
                                {{ form.due.date(class_="input") }}
                            </div>
                            <div class="control is-expanded">
                                {{ form.due.time(class_="input") }}
                            </div>
                        </div>
                        {{ render_field(form.due.timezone, icon="fas fa-globe", class="tzselect") }}
                        <div class="field is-grouped">
                        {{ render_field(form.submit, style="is-primary", fieldtag=False) }}
                        {{ render_field(form.submitclose, fieldtag=False) }}
                        </div>
                    </form>
                    <br/>
                    <form action="" method="post">
                        <h4 class="title has-text-black">Reminders</h4>
                        {{ remform.hidden_tag() }}
                        <div class="field has-addons">
                            {{ remform.time.hidden_tag() }}
                            {{ input(remform.time.date, controlstyle="is-expanded") }}
                            {{ input(remform.time.time, controlstyle="is-expanded") }}
                            <div class="control" style="width:40%;">
                                <div class="select">
                                    {{ remform.time.timezone(class_="select tzselect") }}
                                </div>
                            </div>
                            {{ button(remform.submit, icon="fas fa-plus", style="is-primary") }}
                        </div>
                    </form>
                    <table class="table is-hoverable is-fullwidth">
                        <thead>
                            <tr>
                                <th>Reminder time</th>
                                <th style="width:.1%"></th>
                            </tr>
                        </thead>
                        {% for reminder,delform in remrows %}
                        {% include '_reminder_line.html' %}
                        {% endfor %}
                    </table>
                    <br/>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    $(function() {
        $('.tzselect').each(function(i){
            if ( $(this).val() == '' ){
                var tz = Intl.DateTimeFormat().resolvedOptions().timeZone;
                if ($(this).children().filter(function(i,o){ return o.value === tz; }).length > 0){
                    $(this).val(tz);
                    $(this).find('option[value=""]').remove();
                }
            }
        });
    });
</script>
{% endblock %}

